@model api_air_quality.Web.Application.Services.HomepageViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="container">
    <form method="post" asp-controller="Home" asp-action="Index">
        <select name="countryCodeRequest">

            @foreach (var country in Model.Countries.Countries)
            {
                <option value="@country.Key">@country.Value</option>
            }
        </select>
        <div class="form-group">
            <input type="submit" value="Select Country" class="btn btn-primary" />
        </div>
    </form>
</div>

@{
    if (Model.Cities != null)
    {
    <div>
        <p>All cities in @Model.Cities.Country</p>
        <p>Total cities: @Model.Cities.CitiesCount</p>
    </div>
    <div class="row">
        @foreach (var test in Model.Cities.Cities)
        {
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@test</h5>
                        <p class="card-text">The data for @test was last updated: @Model.Cities.LastUpdated</p>
                        <a asp-controller="Home" asp-action="MoreInfo" asp-route-countryCodeRequest="@Model.Cities.Country" asp-route-cityRequest="@test" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        }
    </div>
        }
            }

            @{
                if (Model.Cities != null)
                {

                    <div class="container">
                        <p>All cities in @Model.Cities.Country</p>
                        <p>Total cities: @Model.Cities.CitiesCount</p>
                        <form method="post" asp-controller="Home" asp-action="Index">
                            <select name="cityCodeRequest">

                                @foreach (var city in Model.Cities.Cities)
                                {
                                    <option value="@city">@city</option>
                                }
                            </select>
                            <div class="form-group">
                                <input type="submit" value="Select City" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                }
            }
