@model api_air_quality.Web.Application.Services.HomepageViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page"><a asp-controller="Home" asp-action="Index">Select Country</a></li>
    </ol>
</nav>

<div class="text-center">
    <h1 class="display-4">Open Air Quality API</h1>
    <p>Discover the Air Quality of Cities Around the World.</p>
</div>

<div class="dropdown d-flex align-items-center flex-column">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Select Country
    </button>
    @if (!String.IsNullOrEmpty(Model.SelectedCountry))
    {
        <div class="p-4">
            <a class="btn btn-primary btn-sm" asp-controller="Home" asp-action="Order" asp-route-order="asc" asp-route-countrycodeRequest="@Model.Cities.Country" role="button">Sort By Ascending</a>
            <a class="btn btn-primary btn-sm" asp-route-order="desc" asp-route-countrycodeRequest="@Model.Cities.Country" role="button">Sort By Descending</a>
        </div>
    }
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        @foreach (var country in Model.Countries.Countries)
        {
            <a class="dropdown-item" asp-controller="Home" asp-action="RequestCities" asp-route-countrycodeRequest="@country.Key">@country.Value</a>
        }
    </div>
</div>

@{
    if (Model.Cities != null)
    {
    <div class="d-flex align-items-center flex-column">
        @{
            if (Model.Cities.Country == null)
            {
                <h3>No results</h3>
            }
            else
            {
                <h3>All cities in @Model.SelectedCountry</h3>
                <h4>Total cities: @Model.Cities.CitiesCount</h4>
            }
        }
    </div>
    <div class="row">
        @foreach (var location in Model.Cities.Cities)
        {
            <div class="col-sm-6 p-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@location</h5>
                        <p class="card-text">The data for @location was last updated: @Model.Cities.LastUpdated</p>
                        <a asp-controller="Home" asp-action="MoreInfo" asp-route-countryCodeRequest="@Model.Cities.Country" asp-route-cityRequest="@location" class="btn btn-primary">More Info</a>
                    </div>
                </div>
            </div>
        }
    </div>
    }
}